Repository contourpy/contourpy, pull requests merged in 2023-04, with the labels that each got.

#220 Remove typehints from API docs
  docs/conf.py
Labels: component: docs

#221 Add explicit sphinx docstrings for default_fill_type and default_line_type
  docs/api/top.rst
Labels: component: docs

#222 C++ docstring improvements
  src/wrap.cpp
Labels: component: docs

#223 Correct authors section in pyproject.toml
  pyproject.toml
Labels: component: build

#183 Use meson instead of distutils to build
  .cirrus.yml
  .github/workflows/build_wheels.yml
  .github/workflows/test.yml
  .gitignore
  lib/contourpy/meson.build
  lib/contourpy/util/meson.build
  meson.build
  pyproject.toml
  setup.py
  src/meson.build
  src/wrap.cpp
Labels: component: build

#225 Drop building universal2 wheels
  pyproject.toml
Labels: component: release

#226 meson: simplify pybind11 dependency lookup
  meson.build
Labels: component: build

#227 Add build_config to store and show build configuration info
  .cirrus.yml
  .github/workflows/test.yml
  .gitignore
  docs/api/util.rst
  lib/contourpy/_contourpy.pyi
  lib/contourpy/util/__init__.py
  lib/contourpy/util/_build_config.py.in
  lib/contourpy/util/meson.build
  meson.build
  pyproject.toml
  src/meson.build
  src/wrap.cpp
  tests/test_build_config.py
Labels: component: build

#230 Run mypy in CI
  .github/workflows/test.yml
  pyproject.toml
  tests/test_codebase.py
Labels: component: CI

#231 Bump meson-python to 0.13.1
  pyproject.toml
Labels: component: build
